        @charset "UTF-8";
        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        *{
            margin: 0px;
            padding: 0px;
            font-family: 'Courier New', Courier, monospace;
        }
        img{
            width: 100vw;
        }
        a{
            display: block;
            padding: 10px;
            background-color: brown;
            width: 100vw;
            font-weight: bold;
            font-size: 2em;
            color: white;
            text-decoration: none;
            transition-duration: .5s;
        }
        a:hover{
            text-decoration: underline;
            background-color: red;
            transition-duration: .3s;
        }
        .texto{
            margin-left: 30px;
        }